.footer {
  position: absolute;
  bottom: -4%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid red;
  border: none;
  outline: none;
}
.textColorFooter {
  color: white;
  /* transform: translateX(40rem); */
}

@media (390px <= width <= 540px) {
  .footer {
    width: 108vw;
  }
  .textColorFooter {
    width: 100%;
    font-size: 0.8rem;
  }
}
